* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
/* ********************* MENU CONTAINER********************************** */
.menu_container{
    background-color: rgb(237, 241, 241);
    height: 80px;
    padding: 0.5rem;
    display: flex;
}
.menu_container>*{
    height: 100%;
    width: 20%;
    border-right:  1px solid rgb(193, 194, 196);
}
.formating_conttainer{
    display: flex;
    justify-content: space-evenly;
}
.subGroup{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.subGroup>*{
    width: 100%;
    border-radius: 2rem;
}

.BUI_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BUI_container>*{
    width: 30%;
    border-radius: 3rem;
    color: rgb(59, 56, 56);
    border: 1px solid rgb(214, 211, 211);
}

.color_container{
    display: flex;
    justify-content: space-between;
}

.color_container>*{
    width: 45%;
}

.alignment_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignment_container>*{
    width: 20%;
    border-radius: 3rem;
    color: rgb(59, 56, 56);
    border: 1px solid rgb(214, 211, 211);
}

.active_icon{
    background-color: rgba(17, 197, 41, 0.452);
    color: darkgreen;
    font-weight: bold;
    border: 1px solid darkgreen;
}

/* ********************* FORMULA CONTAINER********************************** */
.formula_container{
    background-color: rgb(208, 211, 212);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.address_bar{
    height: 68%;
    width: 6%;
    text-align: center;
    color: rgb(43, 39, 39);
    border-radius: 10px;
    font-size: 0.9rem;
    background-color: white;
    border: 1px solid rgb(171, 173, 173);
}

.seperator{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: rgb(95, 97, 97);
}
.formula_bar{
    height: 68%;
    width: 85%;
    color: rgb(43, 39, 39);
    border-radius: 10px;
    padding-left: 10px;
    font-size: 0.9rem;
    outline: none;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(171, 173, 173);
}

/* ********************* GRID CONTAINER********************************** */
.grid_container{
    position: relative;
    height: calc(100vh - (80px + 30px + 35px));
    overflow: scroll;
}
.grid_container::-webkit-scrollbar {
    display: none;
  }
.topLeftCorner{
    background-color: rgb(179, 178, 178);
    width: 30px;
    height: 25px;
    position: absolute;
    z-index: 90;
}
.topRow{
    height: 25px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 30px ;
    z-index: 1;
    background-color: rgb(208, 211, 212);
}
.topRow .col{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(190, 193, 194);
    border-right: 1px solid rgb(190, 193, 194);
}
.col{
    color: rgb(43, 39, 39);
    min-width: 80px;
    max-width: 80px;
    min-height: 25px;
    outline: none;
    border: 1px solid rgb(208, 211, 212);
}
.leftColumn{
    width: 30px;
    position: absolute;
    top: 25px;
    z-index: 1;
}

.left-col_box{
    min-height: 25px;
    text-align: center;
    color: rgb(43, 39, 39);
    background-color: rgb(208, 211, 212);
    border-bottom: 1px solid rgb(190, 193, 194);
    border-top: 1px solid rgb(190, 193, 194);
}
.row{
    display: flex;
    
}
.grid{
    position: absolute;
    top: 25px;
    left: 30px;
}
/* ********************* SHEET CONTAINER********************************** */
.sheet_container{
    height: 35px;
    display: flex;
}
.add_btn_container{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 211, 212);
}
.fas{
    border-radius: 2rem;
    border: 1px solid darkgrey;
    color: darkgreen;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px;
}
.fas:hover{
    transform: scale(1.1);
}
.sheet_list{
    background-color: rgb(208, 211, 212);
    width: 100%;
    display: flex;
    overflow: auto;
}

.sheet_list::-webkit-scrollbar {
    display: none;
}

.sheet{
    height: 1.7rem;
    min-width: 3.8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 207, 209);
}
.sheet:hover{
    transform: scale(1.05);
}
.active_sheet{
    color: darkgreen;
    font-weight: bold;
    background-color: rgb(243, 243, 237);
}